@model Hotel_Reservation.Models.Employee
@{
    ViewData["Title"] = "Relax Hotel | Employee";
}
<div class="modal fade" id="DeleteEmployee-@Model.EmployeeID" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="~/img/logo-hotel-bg.png" width="40px" />
                    <h5 class="ms-2">@ViewData["Title"]</h5>
                </div>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="ConfirmDelete" method="post">
                    <input type="hidden" asp-for="EmployeeID" />

                    <div class="mb-3 fw-bold">
                        <p>Are you sure you wanna delete Employee?</p>
                        <p><strong>@Model.FirstName @Model.LastName</strong></p>
                    </div>
                     <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-trash"></i> Delete
                        </button>

                        <a class="btn btn-secondary text-white" data-bs-dismiss="modal">
                            <i class="fas fa-times"></i> Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

