@model AppUser
@{
    ViewData["Title"] = "Relax Hotel | Create User";
}
<div class="modal fade" id="AddUser" tabindex="-1" aria-labelledby="AddUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="~/img/logo-hotel-bg.png" width="40px"/>
                    <h5 class="ms-2">@ViewData["Title"]</h5>
                </div>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body fw-bold">
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div class="row g-3">
                        <div class="col-6">
                            <!-- Username -->
                            <div class="col-md-12 form-group">
                                <label asp-for="Username" class="form-label">User Name</label>
                                <span asp-validation-for="Username" class="text-danger"></span>
                                <input asp-for="Username" class="form-control" placeholder="Insert User Name" />

                            </div>
                            <div class="col-md-12 form-group">
                                <label asp-for="Email" class="form-label">Email</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <input asp-for="Email" class="form-control" placeholder="Insert Email" />

                            </div>

                            <!-- Password -->
                            <div class="col-md-12 form-group">
                                <label asp-for="Password" class="form-label">Code Number</label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <input asp-for="Password" type="password" class="form-control" placeholder="Insert Code Number" />

                            </div>

                            <!-- Role -->
                            <div class="col-md-12 form-group">
                                <label asp-for="Role" class="form-label">Position</label>
                                <span asp-validation-for="Role" class="text-danger"></span>
                                <select asp-for="Role" class="form-select">
                                    <option value="">Insert Position</option>
                                    <option value="Admin">Admin</option>
                                    <option value="Employee">Employee</option>
                                </select>

                            </div>

                            <!-- Permissions -->
                            <div class="col-md-12 form-group">
                                <label>ការអនុញ្ញាត</label>
                                <span asp-validation-for="Permissions" class="text-danger"></span>
                                <div class="d-flex flex-wrap gap-2">
                                    <div class="form-check">
                                        <input type="checkbox" name="Permissions" value="Read" class="form-check-input" id="Permission_Read" />
                                        <label class="form-check-label" for="Permission_Read">Read</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" name="Permissions" value="Write" class="form-check-input" id="Permission_Write" />
                                        <label class="form-check-label" for="Permission_Write">Write</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" name="Permissions" value="Admin" class="form-check-input" id="Permission_Admin" />
                                        <label class="form-check-label" for="Permission_Admin">Admin</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Upload Picture -->
                        <div class="col-6">
                            <div class="col-md-12 form-group">
                                <label for="pictureFile" class="form-label">Select Picture</label>
                                <input type="file" name="pictureFile" id="pictureFile" class="form-control d-none" accept="image/*" onchange="showPreview(event)" />
                                <div id="preview" onclick="triggerFileInput()" style="cursor: pointer;">
                                    <img src="/img/default-img.png" alt="Default Image" class="img-thumbnail" style="width: 350px; height: 350px; object-fit: cover;" />
                                </div>
                            </div>
                        </div>


                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer mt-4">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Save
                        </button>

                        <a class="btn btn-secondary text-white" data-bs-dismiss="modal">
                            <i class="fas fa-times"></i> Close
                        </a>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>

<script>
    function triggerFileInput() {
        document.getElementById('pictureFile').click();
    }

    function showPreview(event) {
        var file = event.target.files[0];
        var reader = new FileReader();
        var output = document.getElementById('preview').getElementsByTagName('img')[0];
        if (file) {
            reader.onload = function () {
                output.src = reader.result;
            };
            reader.readAsDataURL(file);
        } else {
            output.src = "/img/default-img.png";
        }
    }
</script>
